<%- include("../partials/head") %>

    <body>
        <h3>Input Data Product baru</h3>
        <form action="/products/update" method="post">
            <label for="">name</label>
            <input type="text" name="name" placeholder="masukkan produk"><br>
            <label for="">price</label>
            <input type="text" name="price" placeholder="masukkan harga"><br>
            <label for="">quantity</label>
            <input type="text" name="stock" placeholder="masukkan kuantitas"><br>
            <button type="submit">create</button>
        </form>
        <!-- <form action="">
        <input type="text" id="name" name="name" placeholder="buku gambar"><br>
        <button onclick="addProduct()">create</button>
    </form> -->
    </body>
    <script src="/js/index.js"></script>>

    </html>